* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.error{color:red;}

.form-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navbar {
  width: 100%;
  border-top: 3px solid #245953;
}
.navbar .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 10px 0;
  flex-wrap: wrap;
  margin: 0 auto;
}
.navbar .header-wrapper h2 {
  font-size: 2rem;
  color: #245953;
}
.navbar .header-wrapper h2 span {
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  .navbar .header-wrapper .header-links {
    width: 100%;
  }
}
.navbar .header-wrapper .header-links li {
  display: inline-block;
  padding: 15px 10px;
}
.navbar .header-wrapper .header-links li a {
  color: #393939;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}
.navbar .header-wrapper .header-links li a:hover {
  color: #245953;
  border-bottom: 1px solid #393939;
}

.w-100 {
  width: 100%;
}

.container {
  width: 80%;
}

.margin-auto {
  margin: 0 auto;
}

.hero-screen {
  background-color: #e7f0f5;
  min-height: 500px;
}
.hero-screen .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hero-screen .items {
  width: 50%;
}
@media only screen and (max-width: 992px) {
  .hero-screen .items {
    width: 100%;
    padding: 50px 0;
  }
}
@media only screen and (max-width: 768px) {
  .hero-screen .items {
    padding: 20px 0;
  }
}
.hero-screen .items h1 {
  font-size: 2.5rem;
  line-height: 1;
  color: #245953;
}
@media only screen and (max-width: 992px) {
  .hero-screen .items h1 {
    font-size: 2.1rem;
  }
}
.hero-screen .items p {
  margin-top: 20px;
  width: 70%;
}
@media only screen and (max-width: 992px) {
  .hero-screen .items p {
    width: 100%;
  }
}
.hero-screen .items .cta-btn {
  background-color: #245953;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border: 1.5px solid #393939;
  margin-top: 30px;
  transition: 0.3s all ease-out;
}
.hero-screen .items .cta-btn:hover {
  border: 1.5px solid #393939;
  background-color: transparent;
  color: #393939;
}
.hero-screen .items img {
  max-width: 100%;
}

.contact-section {
  background-image: url(images/contact-us.jpeg);
  background-size: cover;
  min-height: 300px;
  overflow: hidden;
  padding: 50px 0;
  position: relative;
  z-index: -1;
}
.contact-section .bg-overlay {
  background-color: #245953;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}
.contact-section .top-header {
  position: relative;
  z-index: 1;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .contact-section .top-header {
    padding: 10px;
  }
}
.contact-section .top-header h1 {
  color: #fff;
  font-size: 3rem;
}
.contact-section .top-header p {
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
}

.contact-form {
  width: 80%;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-100px);
}
@media only screen and (max-width: 768px) {
  .contact-form {
    width: 90%;
    transform: translateY(-50px);
  }
}
.contact-form .w50 {
  width: 50%;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .contact-form .w50 {
    width: 100%;
    padding: 10px;
    margin-bottom: 2rem;
  }
}
.contact-form .w50 h2 {
  color: #245953;
  line-height: 1;
}
.contact-form .w50 .items {
  background-color: #e1f7f5;
  padding: 15px;
  margin-top: 1.5rem;
}
.contact-form p {
  margin: 10px 0;
}
.contact-form form {
  margin-top: 2rem;
}
.contact-form form label {
  width: 100%;
  display: block;
  padding-top: 2px;
  display: inline-block;
  padding-bottom: 5px;
  margin-top:15px;
}
.contact-form form input {
  outline: none;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 2px;
  display: block;
  width: 100%;
}
.contact-form form input[type=button] {
  background-color: #245953;
  color: #fff;
  font-size: 20px;
  padding: 15px 10px;
  margin-top:15px;  
}

.product-wrap {
  position: relative;
  background-color: rgba(221, 221, 221, 0.8666666667);
  padding: 3rem 0;
}
.product-wrap .main {
  display: flex;
  border: 2px solid black;
  /* margin: 10px 0px; */
}
.product-wrap .background-green {
  width: 400px;
  background-color: #245953;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .product-wrap .background-green {
    display: none;
  }
}
.product-wrap .background-white {
  width: 80%;
  margin: 0 auto;
}
.product-wrap .our-products {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .product-wrap .our-products {
    width: 100%;
  }
}
.product-wrap .our-products .box {
  align-items: center;
  display: flex;
  width: 48%;
  min-height: 200px;
  background-color: #ffffff;
  border-top: 2px solid #245953;
  margin: 5px 0;
}
@media only screen and (max-width: 768px) {
  .product-wrap .our-products .box {
    width: 100%;
  }
}
.product-wrap .our-products .box img {
  width: 120px;
}
.product-wrap .products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.product-wrap .products .box {
  align-items: center;
  display: flex;
  width: 48%;
  min-height: 200px;
  background-color: #ffffff;
  border-top: 2px solid #245953;
  margin: 5px 0;
}
@media only screen and (max-width: 768px) {
  .product-wrap .products .box {
    width: 100%;
  }
}
.product-wrap .products .box img {
  width: 120px;
}

.our-product-wrap {
  position: relative;
  padding: 2rem 0;
}
.our-product-wrap .heading {
  margin-bottom: 1.5rem;
}
.our-product-wrap .main {
  display: flex;
  border: 2px solid black;
  /* margin: 10px 0px; */
}
.our-product-wrap .background-green {
  width: 350px;
  background-color: #245953;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.our-product-wrap .background-white {
  width: 80%;
  margin: 0 auto;
}
.our-product-wrap .our-products {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}
.our-product-wrap .our-products .box {
  align-items: center;
  display: flex;
  width: 48%;
  min-height: 200px;
  background-color: #dddddd;
  border-top: 2px solid #245953;
  margin: 15px 0;
}
.our-product-wrap .our-products .box img {
  width: 120px;
}
.our-product-wrap .products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.our-product-wrap .products .box {
  align-items: center;
  display: flex;
  width: 30%;
  min-height: 200px;
  background-color: #dddddd;
  border-top: 2px solid #245953;
  margin: 15px 1.5%;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 768px) {
  .our-product-wrap .products .box {
    width: 100%;
  }
}
.our-product-wrap .products .box img {
  width: 120px;
}

.product-tab {
  width: 100%;
}

.grey-background {
  background: rgba(221, 221, 221, 0.8666666667);
}

.white-background {
  background: #ffffff;
}/*# sourceMappingURL=style.css.map */